# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Virtual Environment
ENV/

# Environment Variables
.env.local
.env.*.local

# Firebase
firebase-key.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel 